table {
  border-collapse: collapse;
}
table {
  border: 1px solid;
}
td {
  text-align: center;
}
td {
  height: 50px;
  vertical-align: bottom;
}
tbody tr:nth-child(odd) {
  background: #ffffff;
}
tbody tr:nth-child(even) {
  background: #f4f4f4;
}